<section class="section pb-0"  style="    background: rgb(238 238 238 / 32%);">
    <div class="container mt-50 mt-60">
          <div class="row justify-content-center">
              <div class="col">
                  <div class="section-title text-center mb-4 pb-2">
                      <h4 class="title mb-1">My Account </h4>
                      <p class="text-muted para-desc mb-0 mx-auto">Update your profile</p>

                      <!-- if dealer -->

                  </div>
              </div><!--end col-->
          </div><!--end row-->

            </div>
            </section>

            <section class="section pt-0"  style="background: rgb(238 238 238 / 32%);">
                <div class="container mt-60">
                    <div class="row" *ngIf="type == 'USER'">
                        <div class="col-lg-8 col-md-8 mb-3">

                            <div class="card text-center">
                                <div class="card-body table-responsive">

                                    <div class="col-lg-12 col-md-12 mb-3">
                                       <table class="table">
                                        <tr>
                                            <td>Name</td>
                                            <td>Email</td>
                                            <td>Phone</td>
                                            <td>Address</td>
                                            <td>City</td>
                                            <td>State</td>
                                        </tr>
                                        <tr>
                                            <td>{{userDet?.name}}</td>
                                            <td>{{userDet?.email}}</td>
                                            <td>{{userDet?.phoneNumber}}</td>
                                            <td>{{userDet?.address}}</td>
                                            <td>{{userDet?.city_name}}</td>
                                            <td>{{userDet?.state_name}}</td>

                                        </tr>
                                       </table>
                                    </div>
                                </div>
                            </div>

                    </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                                <div class="card card-dashboard text-center">
                                    <div class="card-body">
                                        <div class="">
                                            <a class="btn btn-primary btn-small btn-xs float-right text-right"  data-bs-toggle="modal" data-bs-target="#exampleModal">Update</a>

                                        </div>
                                    </div>
                                </div>

                        </div>

                        <!-- col-lg-12 -->


                    </div>
 <!-- row -->
<!-- if dealer logged in  -->
 <div class="row" *ngIf="type == 'DEALER'">
    <div class="col-lg-2 col-md-2 mb-3"></div>
    <div class="col-lg-8 col-md-8 mb-3">

        <div class="card  text-left">
            <div class="card-body">
                <div class="col-lg-12 col-md-12 mb-3  table-responsive">
                   <table class="table table-bordered table-striped">

                       <tr><th>Logo</th> <td><img src="{{imageUrl}}{{userDet?.logo}}" width="100" height="100"></td></tr>
                        <tr><th>Dealer Name</th><td>{{userDet?.name}}</td></tr>
                        <tr><th>Email</th> <td>{{userDet?.email}}</td></tr>
                        <tr><th>Phone</th> <td>{{userDet?.phoneNumber}}</td></tr>
                        <tr><th>Dealership Address</th><td>{{userDet?.address}}</td></tr>
                        <tr><th>City</th><td>{{userDet?.city_name}}</td></tr>
                        <tr><th>State</th><td>{{userDet?.state_name}}</td></tr>

                   </table>
                </div>
                <a class="btn btn-primary btn-small btn-xs float-right text-right"  data-bs-toggle="modal" data-bs-target="#exampleModal">Update</a>
            </div>
        </div>

</div>
    <div class="col-lg-4 col-md-4 mb-3">
            <!-- <div class="card card-dashboard text-center">
                <div class="card-body">

                </div>
            </div> -->

    </div>

    <!-- col-lg-12 -->


</div>
                    </div>
                    </section>
                   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Update your information</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form name="updateForm" #uForm="ngForm" method="POST" (ngSubmit)="onUpdateUser(this.formData)">

                                <div class="form-floating mb-2 col-lg-6 col-12">
                                    <input type="text" class="form-control" id="" name="name" [(ngModel)]="formData.name">
                                    <label for="">Name</label>
                                </div>
                                <div class="form-floating mb-2 col-lg-6 col-12">
                                    <input type="text" class="form-control" id="" name="email" [(ngModel)]="formData.email">
                                    <label for="">Email</label>
                                </div>

                                <div class="form-floating mb-2 col-lg-12 col-12">
                                  <input type="text" class="form-control" id="address1" name="address" [(ngModel)]="formData.address">
                                  <label for="address1">Address</label>
                              </div>

                                <div class="form-floating mb-2  col-lg-6 col-12">
                                   <select name="state" class="form-control" [(ngModel)]="formData.state">
                                    <option *ngFor="let state of stateList" value="{{state.id}}">{{state.state}}</option>
                                   </select>
                                    <label for="">State</label>
                                </div>

                                <div class="form-floating mb-2  col-lg-6 col-12">
                                  <select name="city" class="form-control" [(ngModel)]="formData.city">
                                    <option *ngFor="let city of cityList" value="{{city.id}}">{{city.city}}</option>

                                  </select>
                                    <label for="">City</label>
                                </div>
                                <div *ngIf="type == 'DEALER'">
                                  <div class="form-floating mb-2  col-lg-6 col-12">
                                    <input type="file" class="form-control" id="" name="logo" (change)="setLogo($event)">
                                    <label for="">Logo</label>
                                </div>
                                    <div class="form-floating mb-2  col-lg-6 col-12">
                                        <input type="text" class="form-control" id="" name="yearinbzns" [(ngModel)]="formData.yearinbzns">
                                        <label for="">Year in Business</label>
                                    </div>
                                    <div class="form-floating mb-2  col-lg-6 col-12">
                                        <input type="text" class="form-control" id="" name="partner" [(ngModel)]="formData.partner">
                                        <label for="">Partner Name</label>
                                    </div>
                                    <div class="form-floating mb-2  col-lg-6 col-12">
                                        <input type="text" class="form-control" id="" name="partnerphone" [(ngModel)]="formData.partnerphone">
                                        <label for="">Partner Phone</label>
                                    </div>

                                    <div class="form-floating mb-2  col-lg-6 col-12">
                                        <input type="email" class="form-control" id="" name="partneremail" [(ngModel)]="formData.partneremail">
                                        <label for="">Partner Email</label>
                                    </div>

                                    <div class="form-floating mb-2  col-lg-6 col-12">
                                        <input type="file" class="form-control" id="" name="gst" (change)="setGST($event)">
                                        <label for="">GST</label>
                                    </div>

                                    <div class="form-floating mb-2  col-lg-6 col-12">
                                        <input type="file" class="form-control" id="" name="pan" (change)="setPAN($event)">
                                        <label for="">PAN</label>
                                    </div>

                                </div>

                                <button class="btn btn-warning w-100" type="submit">Update</button>


                            </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button"  #closeModal class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
