.hover-green:hover {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: white !important;
}

.hover-red:hover {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: white !important;
}