<section class=" d-table w-100" style="background: url('assets/images/vehicles.png') bottom no-repeat;"></section>
<footer class="bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60 footer-border">
                    <div class="row">
                        <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">

                            <p class="mt-4">A great plateform to buy, sell Vahan.</p>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">


                                <li class="list-inline-item">
                                    <a href="http://linkedin.com/company/vahanassist" target="_blank"
                                        class="rounded-3 foot-icon">
                                        <img src="assets/images/linkedin.png" class="fea icon-sm align-middle ">
                                        <!-- <i data-feather="linkedin" class="fea icon-sm align-middle" title="Linkedin"></i> -->
                                    </a>
                                </li>
                                <li class="list-inline-item"><a href="https://www.facebook.com/vahanassist"
                                        target="_blank" class="rounded-3 foot-icon">
                                        <img src="assets/images/facebook.png" class="fea icon-sm align-middle ">
                                        <!-- <i data-feather="facebook" class="fea icon-sm align-middle" title="facebook"></i> -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/vahanassist/" target="_blank"
                                        class="rounded-3 foot-icon">

                                        <img src="assets/images/instagram.png" class="fea icon-sm align-middle ">

                                        <!-- <i data-feather="instagram" class="fea icon-sm align-middle" title="instagram"></i> -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="mailto:support@vahanassist.in" class="rounded-3 foot-icon">
                                        <img src="assets/images/mail.png" class="fea icon-sm align-middle ">
                                        <!-- <i data-feather="mail" class="fea icon-sm align-middle" title="email"></i> -->
                                    </a>
                                </li>
                            </ul><!--end icon-->
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Company</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a [routerLink]="'/about'" class="text-foot"> About us</a></li>
                                <li><a [routerLink]="'/dealer-signup'" class="text-foot"> Register as a Dealer</a></li>
                                <li><a [routerLink]="'/contact'" class="text-foot"> Contact Us</a></li>

                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Usefull Links</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a [routerLink]="'/tnc'" class="text-foot"> Terms of Services</a></li>
                                <li><a [routerLink]="'/privacypolicy'" class="text-foot"> Privacy Policy</a></li>

                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Contact Details</h5>

                            <div class="d-flex mt-4">
                                <img src="assets/images/map.png" class="contact-icon icon-sm align-middle ">
                                <div class="">
                                    <p class="mb-2">Shop No .03, Ground Floor, Hari Shrushti, <br>Opp. Savita Sadan,
                                        Rameshwadi, Badlapur -421503</p>

                                </div>
                            </div>

                            <div class="d-flex mt-4">
                                <img src="assets/images/mail.png" class="contact-icon icon-sm align-middle ">
                                <a href="mailto:support@vahanassist.com"
                                    class="text-foot">support[at]vahanassist.com</a>
                            </div>

                            <div class="d-flex mt-4">
                                <img src="assets/images/phone.png" class="contact-icon icon-sm align-middle ">
                                <a href="tel:8600-14-66-14" class="text-foot">+91-8600-14-66-14</a>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="footer-py-30 footer-bar">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <p class="mb-0">©
                            <script>document.write(new Date().getFullYear())</script> vahanassist. All Rights Reserved.
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer>
<a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up"
        class="fea icon-sm align-middle"></i></a>