  <!-- Hero Start -->
  <section class="section pb-0  text-center page-header-new " >
    <div class="container  mt-60">
          <div class="row justify-content-center">
              <div class="col">
                  <div class="section-title mb-4 pb-2">
                    <h1 class="text-center f-30 fw-bold">Get in touch !</h1>
                      <h5 class=" text-center mb-0">Contact Us</h5>
                      <br>
                      <nav aria-label="breadcrumb" class="d-block">
                        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                          <li class="breadcrumb-item"><a href="">Vahan Assist</a></li>
                          <li class="breadcrumb-item active" aria-current="page">
                            Contact
                          </li>
                        </ul>
                      </nav>
    
                  </div>
              </div><!--end col-->
          </div><!--end row-->
          </div>
          </section>

<!-- Hero End -->

<!-- Start -->
<section class="section ">
     <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="position-relative features text-center mx-lg-4 px-md-1">
                    <div class="feature-icon position-relative overflow-hidden d-flex justify-content-center">
                        <i data-feather="hexagon" class="hexagon"></i>
                        <div class="position-absolute top-50 start-50 translate-middle">
                            <i data-feather="phone" class="fea icon-m-md text-primary"></i>
                        </div>
                    </div>

                    <div class="mt-4">
                        <h5 class="mb-3">Phone</h5>
                        <p class="text-muted">Start working with us</p>
                        <a href="tel:8600-14-66-14" class="text-primary">+91-8600-14-66-14</a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4">
                <div class="position-relative features text-center mx-lg-4 px-md-1">
                    <div class="feature-icon position-relative overflow-hidden d-flex justify-content-center">
                        <i data-feather="hexagon" class="hexagon"></i>
                        <div class="position-absolute top-50 start-50 translate-middle">
                            <i data-feather="mail" class="fea icon-m-md text-primary"></i>
                        </div>
                    </div>

                    <div class="mt-4">
                        <h5 class="mb-3">Email</h5>
                        <p class="text-muted">Connect with us</p>
                        <a href="mailto:contact@vahanassist.com" class="text-primary">contact[at]vahanassist.com</a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4">
                <div class="position-relative features text-center mx-lg-4 px-md-1">
                    <div class="feature-icon position-relative overflow-hidden d-flex justify-content-center">
                        <i data-feather="hexagon" class="hexagon"></i>
                        <div class="position-absolute top-50 start-50 translate-middle">
                            <i data-feather="map-pin" class="fea icon-m-md text-primary"></i>
                        </div>
                    </div>

                    <div class="mt-4">
                        <h5 class="mb-3">Location</h5>
                        <p class="text-muted">Shop No .03, Ground Floor, Hari Shrushti, <br>Opp. Savita Sadan, Rameshwadi, Badlapur -421503</p>

                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->


</section><!--end section-->
