<section class="section pb-0">
    <div class="container mt-50 mt-60">
          <div class="row justify-content-center">
              <div class="col">
                  <div class="section-title text-center pb-2">
                      <h4 class="title mb-3">My Enquiry</h4>

                      <!-- if dealer -->

                  </div>
              </div><!--end col-->
          </div><!--end row-->

            </div>
            </section>

            <section class="section pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card text-center">
                                <div class="card-body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>S.no</th>
                                                <th>Customer Name</th>
                                                <th>Email</th>
                                                <th>Phone No</th>
                                                <th>Car Details</th>
                                                <th>Date of Enquiry</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  *ngFor="let enq of enquiryList | paginate: { itemsPerPage: 10, currentPage: p,totalItems: total };let i=index;">
                                                <td>{{i+1}}</td>
                                                <td>{{enq.cust_name}}</td>
                                                <td>{{enq.cust_email}}</td>
                                                <td>{{enq.cust_phone}}</td>
                                                <td><a routerLink="/vehicle-details/{{enq.vehicle_regno}}" >{{enq.vehicle_brand}}-{{enq.vehicle_model}}</a></td>
                                                <td>{{enq.date}}</td>
                                                <td>
                                                        <select name="status" [(ngModel)]="enq.status" class="form-control" (change)="updateEnquiryStatus($event,enq.enqId)">
                                                            <option value="">Select Status</option>
                                                            <option value="Enquired">Pending</option>
                                                            <option value="Attended">Attended</option>
                                                        </select>

                                                        <button *ngIf="enq.hide == '0'" class="btn btn-primary btn-sm" (click)="hideMPEnquiry(enq.enqId)">Delete</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                        <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <!-- col-lg-12 -->
                  </div>
                </div>
            </section>
