/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.vehdetails::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.vehdetails::-webkit-scrollbar {
  width: 8px;
  
}

/* Track */
.vehdetails::-webkit-scrollbar-track {
  background: #eee; 
}
 
/* Handle */
.vehdetails::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.vehdetails::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgb(255 255 255 / 75%);
    border: 0;
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
}

.text-shadow{
	text-shadow: -1px 2px 1px #000 !important;
}
.text-muted{
	color: #404040 !important
}
.sidebar-dealer{
    background: #a4c2143b;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

.bg-home-one {
    padding: 60px 0 30px;
}



.main-dealer{
	box-shadow: 0px 4px 12px -2px #1c1c1ccc;
    /* margin-top: 25px; */
}
.main-dealer form{
	
}
.main-dealer form input{
	
}

.col-md-6, .col-6{
    float: left;
        padding: 10px;
}
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    color: rgb(51 51 51);
}
.form-floating>label {
   color: #212121;

}
.sell-vahan {
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #dadada;
    background: url(../images/bgsssell.jpg);
    background-size: 25%;
}

.page-header-new{
	background: url(../images/pattern-header-min.jpg);
	background-size: contain;
    background-position: 0px 135px;
    padding-top: 130px;
}
.page-header-new .section-title{
	color: #fff;
}
.white{
	color: #fff !important;
}


@media (min-width: 992px) {
    .container {
        max-width: 1140px !important;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px !important;
    }
}

.form-control {
    border: 1px solid #dde5eb;
    font-size: 16px;
    line-height: 26px;
    background-color: #fff;
    border-radius: 8px;
    height: 45px;
}
.market-wrap{
    padding: 30px 0 100px;
}
span.price{
    margin-right: 5px;
}

.vahan-a{

}
.vahan-a:hover h5{
    color: #1226bb !important;
}
.vahan-a h5 {
  min-height: 50px;
    max-height: 50px;
    overflow: hidden;
}
.shadow {
    box-shadow: 0 10px 20px rgba(126, 133, 148, .08) !important;
}
.input-wrap{
    cursor: pointer;
}
.card-dashboard {
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100%;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 20px;
    
  }
    .card-dashboard  img{
      width: 70px;
      margin-bottom: 20px;
    }
    
    .card-dashboard:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .a-dashboard{
      height: 191px;
      /* display: grid; */
      width: 100%;
    }

    /*----------------------------------------------- media queries--------------------------------------------------- */

    

    @media (min-width: 1024px) {

        .title-heading2{
    
        }
        .title-heading2 .heading {
            font-size: 58px;
            letter-spacing: 1px;
            line-height: 1em;
        }
        .fs-30{
            font-size: 30px;
        }
    }
    /* max-width : 1024px end */


    @media (max-width: 1200px) {
        .title-heading2{
    
        }
        .title-heading2 .heading {
            font-size: 58px;
            letter-spacing: 1px;
            line-height: 1em;
        }
        .fs-30{
            font-size: 30px;
        }
    }

    /* max-width: 1200px end  */


    @media (max-width: 1500px) {
        .fs-30{
            font-size: 30px;
        }
        .title-heading2{
    
        }
        .title-heading2 .heading {
            font-size: 58px;
            letter-spacing: 1px;
            line-height: 1em;
        }

    }
    



    @media (max-width: 768px) {
        .title-heading2{
    
        }
        .title-heading2 .heading {
            font-size: 38px ;
            letter-spacing: 1px;
            line-height: 1em;
        }
        .fs-30{
            font-size: 20px;
        }

    }
    /* max-width: 768px end */

    

    @media (max-width: 480px) {
        .title-heading2{
    
        }
        .title-heading2 .heading {
            font-size: 24px ;
            letter-spacing: 1px;
            line-height: 1em;
        }
        .fs-30{
            font-size: 18px;
        }

    }
    /* max-width: 480px end */




    /* marketplace css */

    .buysell{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .buysell  .card {
       
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        font-size: 18px;
        text-align: center;
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: 14px;
        padding: 10px;
      }
      .buysell .card  img{
        width: 70px;
        margin-bottom: 20px;
      }
      
      .buysell .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
    
      .sidebar-marketplace{
        display: inline-block;
        padding: 10px;
        border-radius: 10px;
        background: #fff;
        border: 1px solid #dde5eb;
      }
      .main-marketplace{}
    
      .property-image-home{
        height: 150px;
        text-align: center;
        background: rgb(248 248 248 / 48%);
      }
      .property-image-home img{
        height: 150px;
    object-fit: contain;
    margin: 0 auto;
      }
      .vehicleimages{
        /* height: 550px; */
        text-align: center;
        background: #f8f8f8;
        padding: 0;
        border-radius: 10px;
      }
      .vehicleimages img{
        height: 500px;
        object-fit: contain;
        margin: 0 auto;
        }
      .bg-gray{
        background: #fafafa;
      }
    
      .search-suggestion{
        background: #f2f2f2;
        width: 90%;
        margin: 0 auto;
        position: absolute;
        z-index: 99;
        margin-left: 20px;
        height: 200px;
        overflow-y: scroll;
        padding: 0;
        list-style: none;
      }
      .search-suggestion li {
        border-bottom: 1px solid #cfcfcf;
        padding: 2px 20px;
        font-size: 14px;
    }
    .search-suggestion li:hover {
      cursor: pointer;
      background-color: #fff;
      transition: all ease-in 0.25s;
    }

    .results{
      display: none;
    }

    .clear-filter{
        font-size: 14px;
        float: right;
    }

    .form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
        color: #212121;
        transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    }
    .vehdetails{
        min-height: 50px;
        max-height: 50px;
        overflow: overlay;
      
      }
      .details-wrap{
        padding: 20px;
        background: #fff;
        border: 1px solid #dde5eb;
        border-radius: 10px;
/*     
    display: flex;
    flex-wrap: wrap; */
      }
      .details-wrap span{
        font-weight: 400;
    color: #212121;
      }
      .details-wrap .model-data{
        font-weight: 600;
        height: 55px;
        line-height: 20px;
      }
      .listtype{
        margin-bottom: 10px;
      }
      .contact-onr-btn{
        font-size: 18px;
    padding: 5px 10px;
    width: 80%;
    margin: 4% auto 0;
      }
      .pull-left{
        float: left !important;
      }
      .property {
        
          border: 1px solid #c8c8c8 !important;
      }
      .fs-5, .fs-5, .h5, h5 {
        font-size: 18px !important;
    }