<section class="bg-home zoom-image d-flex align-items-center">
    <div class="bg-overlay image-wrap" style="background: url('images/bg/03.jpg') center;"></div>
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="p-4 bg-white rounded-3 shadow-md mx-auto w-100" style="max-width: 400px;">
                    <form name="loginform" #lForm="ngForm" method="POST" (ngSubmit)="onForgotFormSubmit(this.formData)">
                        <a href="/"><img src="assets/images/logo-icon-80.png" class="mb-4 d-block mx-auto" alt=""></a>
                        <h5 class="mb-3">Please Enter your Email</h5>
  
                        <div class="form-floating mb-2">
                            <input type="email" class="form-control" name="email" [(ngModel)]="formData.email" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email Address</label>
                        </div>
  
                        <button class="btn btn-warning btn-primary w-100 mt-3" type="submit">Send New Password</button>
                    </form>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  