<section class="bg-home zoom-image d-flex align-items-center">
    <div class="bg-overlay image-wrap" style="background: url('images/bg/03.jpg') center;"></div>
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="p-4 bg-white rounded-3 shadow-md mx-auto w-100" style="max-width: 400px;">
                    <!-- <form name="loginform" #lForm="ngForm" method="POST" (ngSubmit)="onLoginFormSubmit(this.formData)">
                        <a href=""><img src="images/logo-icon-80.png" class="mb-4 d-block mx-auto" alt=""></a>
                        <h5 class="mb-3">Please Enter the details</h5>
  
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="formData.phoneNumber" id="floatingInput">
                            <label for="floatingInput">Phone Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" [(ngModel)]="formData.password" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
  
                       
  
                        <button class="btn btn-primary w-100" type="submit">Forgot</button>
  
                       
                    </form> -->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  