.package{
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #afafaf;
}
.bg-gradient-new {
    background: #1525bf;
    background: -moz-linear-gradient(45deg, #1525bf 0, #02c8bf 100%);
    background: -webkit-linear-gradient(45deg, #1525bf 0, #02c8bf 100%);
    background: linear-gradient(45deg, #1525bf 0, #02c8bf 100%);
}
.xs-py {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.white, .white-hover:hover {
    color: #fff !important;

}
.feature-list {
    height: 130px;
    /* overflow-y: scroll; */
}
.xxs-my {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.box-shadow, .bs-focus:focus, .bs-hover:hover {
    box-shadow: 2px 10px 25px 0 rgba(0, 0, 0, .2) !important;
}
.xs-pb {
    padding-bottom: 30px !important;
}
.slow {
    -webkit-transition: all .3s !important;
    -moz-transition: all .3s !important;
    transition: all .3s !important;
}
.bs-light, .bs-light-focus:focus, .bs-light-hover:hover {
    box-shadow: 2px 10px 25px 0 rgba(0, 0, 0, .06) !important;
}
.f-30{
    font-size: 30px !important;
}
.feature-list ul{
    list-style: none;
}

.feature-list ul li{
    padding: 5px;
    border-color: rgba(100, 100, 100, .1);
    border-style: solid;
    border-bottom-width: 1px;
}
   
    