
.service-box{
    
    /* border: 1px solid #fff; */
    background: #fff;
    box-shadow: 4px 4px 44px rgba(0, 5, 46, .08);
    border-radius: 24px;
    text-align: center;
    /* display: flex; */
    /* height: 340px; */
    /* display: block; */
    /* align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; */
}
.categories {
    transition: all 0.5s ease;
    /* min-height: 300px; */
}
.categories img{
    width:  180px;
}
.why-section{

}
.why-section img{
    width: 25%;
}
.features{
    background: white;
    box-shadow: 1px 4px 15px 0px #ccc;
    border-radius: 10px;
    padding: 30px;
    height: 100%;
    border: 1px dotted #eee;
}
.features h5{
text-align: center;
}
.features p{
    text-align: justify;
    padding: 10px;
}

.listingtype{
font-size: 12px;
}