

@media (min-width: 992px)
{
    #topnav .navigation-menu.nav-left {
    justify-content: flex-end !important;
}
}

@media (max-width: 991px) {
    .submenu {
        display: none;
    }
    .submenu.open {
        display: block !important;
    }
}